<a href="https://colab.research.google.com/github/kdahun/bigdata2023/blob/main/python3day.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 딕셔너리 실습
* 주사위 두개 던져서 나오는 모든 경우의 수를 생각
* 각 합이 나오는 경우의 수와 그 경로를 사전형으로 구하기

In [3]:
d1 = {}
d2 = {}

for i in range(1,7):
  for j in range(1,7):
    if i+j not in d2.keys():
      d2[i+j]=[[i,j]]
    else:
      d2[i+j].append([i,j])

In [4]:
d2

{2: [[1, 1]],
 3: [[1, 2], [2, 1]],
 4: [[1, 3], [2, 2], [3, 1]],
 5: [[1, 4], [2, 3], [3, 2], [4, 1]],
 6: [[1, 5], [2, 4], [3, 3], [4, 2], [5, 1]],
 7: [[1, 6], [2, 5], [3, 4], [4, 3], [5, 2], [6, 1]],
 8: [[2, 6], [3, 5], [4, 4], [5, 3], [6, 2]],
 9: [[3, 6], [4, 5], [5, 4], [6, 3]],
 10: [[4, 6], [5, 5], [6, 4]],
 11: [[5, 6], [6, 5]],
 12: [[6, 6]]}

In [14]:
for i in d2.keys():
  d1[i]=len(d2[i])

In [16]:
d1

{2: 1, 3: 2, 4: 3, 5: 4, 6: 5, 7: 6, 8: 5, 9: 4, 10: 3, 11: 2, 12: 1}

In [17]:
#bank 관련 함수 만들기
def open_account(): #procedure(반환값 없음)
  print("새로운 계좌가 생성되었습니다")
a=open_account()
print(a)
def deposit(balance, money):
  print(f"입금액은 {money}원이고 잔액은 {balance+money}원 입니다.")
  return balance+money

a=deposit(1000, 2000)
print(a)

def withdraw(balance, money):
  if balance<money:
    print("잔액이 부족합니다.")
    return balance
  else:
    print(f"{money}원이 출금되었습니다.", end=" ")
    print(f"잔액은 {balance-money}원입니다.")
    return balance-money

#withdraw(3000, 2000)
def withdraw_night(balance, money):
  fee=500
  if balance<money+fee:
    print("잔액이 부족합니다.")
    return fee, balance
  else:
    print(f"수수료 {fee}원이 발생하였습니다.", end=" ")
    print(f"{money}원이 출금되었습니다.", end=" ")
    print(f"잔액은 {balance-money-fee}원 입니다.")
    return fee, balance-money-fee
a,b=withdraw_night(3000, 2000)
print(a,b)

새로운 계좌가 생성되었습니다
None
입금액은 2000원이고 잔액은 3000원 입니다.
3000
수수료 500원이 발생하였습니다. 2000원이 출금되었습니다. 잔액은 500원 입니다.
500 500

### 입력으로 들어오는 모든 수의 평균을 계산하는 함수

In [21]:
def average(*num):
  result = 0
  for n in num:
    result +=n
  result=result/len(num)
  return result

print("평균 : ",average(10,20,60))

평균 :  30.0

In [23]:
def factorial(num):
  result =1
  for i in range(1,num+1):
    result*=i
  return result

factorial(5)

120

In [24]:
def factorial(num):
  result =1
  i=1
  while i<num+1:
    result*=i
    i+=1
  return result

factorial(5)

120

In [26]:
# 재귀홤수
# 자기 자신을 호출하는 함수

def recursive_function(i):
# 100번째 호출을 했을 때 종료되도록 종료 조건 명시
  if i == 100:
    return
  print(i, '번째 재귀함수에서', i + 1,'번째 재귀함수를 호출합니다.')

  recursive_function(i + 1)
  print(i,'번째 재귀함수를 종료합니다.')

recursive_function(1)

1 번째 재귀함수에서 2 번째 재귀함수를 호출합니다.
2 번째 재귀함수에서 3 번째 재귀함수를 호출합니다.
3 번째 재귀함수에서 4 번째 재귀함수를 호출합니다.
4 번째 재귀함수에서 5 번째 재귀함수를 호출합니다.
5 번째 재귀함수에서 6 번째 재귀함수를 호출합니다.
6 번째 재귀함수에서 7 번째 재귀함수를 호출합니다.
7 번째 재귀함수에서 8 번째 재귀함수를 호출합니다.
8 번째 재귀함수에서 9 번째 재귀함수를 호출합니다.
9 번째 재귀함수에서 10 번째 재귀함수를 호출합니다.
10 번째 재귀함수에서 11 번째 재귀함수를 호출합니다.
11 번째 재귀함수에서 12 번째 재귀함수를 호출합니다.
12 번째 재귀함수에서 13 번째 재귀함수를 호출합니다.
13 번째 재귀함수에서 14 번째 재귀함수를 호출합니다.
14 번째 재귀함수에서 15 번째 재귀함수를 호출합니다.
15 번째 재귀함수에서 16 번째 재귀함수를 호출합니다.
16 번째 재귀함수에서 17 번째 재귀함수를 호출합니다.
17 번째 재귀함수에서 18 번째 재귀함수를 호출합니다.
18 번째 재귀함수에서 19 번째 재귀함수를 호출합니다.
19 번째 재귀함수에서 20 번째 재귀함수를 호출합니다.
20 번째 재귀함수에서 21 번째 재귀함수를 호출합니다.
21 번째 재귀함수에서 22 번째 재귀함수를 호출합니다.
22 번째 재귀함수에서 23 번째 재귀함수를 호출합니다.
23 번째 재귀함수에서 24 번째 재귀함수를 호출합니다.
24 번째 재귀함수에서 25 번째 재귀함수를 호출합니다.
25 번째 재귀함수에서 26 번째 재귀함수를 호출합니다.
26 번째 재귀함수에서 27 번째 재귀함수를 호출합니다.
27 번째 재귀함수에서 28 번째 재귀함수를 호출합니다.
28 번째 재귀함수에서 29 번째 재귀함수를 호출합니다.
29 번째 재귀함수에서 30 번째 재귀함수를 호출합니다.
30 번째 재귀함수에서 31 번째 재귀함수를 호출합니다.
31 번째 재귀함수에서 32 번째 재귀함수를 호출합니다.
32 번째 재귀함수에서 33 번째 재귀함수를 호출합니다.
33 번째 재귀함수에서 34 번째 재귀함수를 호출합니다.
34 번째 재귀함수에서 35 번째 재귀함수를 호출합니다.
35 번째 재귀함수에서 36 번째 재귀함수를 호출합니다.
36 번째 재귀함수에서 37 번째 재귀함수를 호출합니다.
37 번째 재귀함수에서 38 번째 재귀함수를 호출합니다.
38 번째 재귀함수에서 39 번째 재귀함수를 호출합니다.
39 번째 재귀함수에서 40 번째 재귀함수를 호출합니다.
40 번째 재귀함수에서 41 번째 재귀함수를 호출합니다.
41 번째 재귀함수에서 42 번째 재귀함수를 호출합니다.
42 번째 재귀함수에서 43 번째 재귀함수를 호출합니다.
43 번째 재귀함수에서 44 번째 재귀함수를 호출합니다.
44 번째 재귀함수에서 45 번째 재귀함수를 호출합니다.
45 번째 재귀함수에서 46 번째 재귀함수를 호출합니다.
46 번째 재귀함수에서 47 번째 재귀함수를 호출합니다.
47 번째 재귀함수에서 48 번째 재귀함수를 호출합니다.
48 번째 재귀함수에서 49 번째 재귀함수를 호출합니다.
49 번째 재귀함수에서 50 번째 재귀함수를 호출합니다.
50 번째 재귀함수에서 51 번째 재귀함수를 호출합니다.
51 번째 재귀함수에서 52 번째 재귀함수를 호출합니다.
52 번째 재귀함수에서 53 번째 재귀함수를 호출합니다.
53 번째 재귀함수에서 54 번째 재귀함수를 호출합니다.
54 번째 재귀함수에서 55 번째 재귀함수를 호출합니다.
55 번째 재귀함수에서 56 번째 재귀함수를 호출합니다.
56 번째 재귀함수에서 57 번째 재귀함수를 호출합니다.
57 번째 재귀함수에서 58 번째 재귀함수를 호출합니다.
58 번째 재귀함수에서 59 번째 재귀함수를 호출합니다.
59 번째 재귀함수에서 60 번째 재귀함수를 호출합니다.
60 번째 재귀함수에서 61 번째 재귀함수를 호출합니다.
61 번째 재귀함수에서 62 번째 재귀함수를 호출합니다.
62 번째 재귀함수에서 63 번째 재귀함수를 호출합니다.
63 번째 재귀함수에서 64 번째 재귀함수를 호출합니다.
64 번째 재귀함수에서 65 번째 재귀함수를 호출합니다.
65 번째 재귀함수에서 66 번째 재귀함수를 호출합니다.
66 번째 재귀함수에서 67 번째 재귀함수를 호출합니다.
67 번째 재귀함수에서 68 번째 재귀함수를 호출합니다.
68 번째 재귀함수에서 69 번째 재귀함수를 호출합니다.
69 번째 재귀함수에서 70 번째 재귀함수를 호출합니다.
70 번째 재귀함수에서 71 번째 재귀함수를 호출합니다.
71 번째 재귀함수에서 72 번째 재귀함수를 호출합니다.
72 번째 재귀함수에서 73 번째 재귀함수를 호출합니다.
73 번째 재귀함수에서 74 번째 재귀함수를 호출합니다.
74 번째 재귀함수에서 75 번째 재귀함수를 호출합니다.
75 번째 재귀함수에서 76 번째 재귀함수를 호출합니다.
76 번째 재귀함수에서 77 번째 재귀함수를 호출합니다.
77 번째 재귀함수에서 78 번째 재귀함수를 호출합니다.
78 번째 재귀함수에서 79 번째 재귀함수를 호출합니다.
79 번째 재귀함수에서 80 번째 재귀함수를 호출합니다.
80 번째 재귀함수에서 81 번째 재귀함수를 호출합니다.
81 번째 재귀함수에서 82 번째 재귀함수를 호출합니다.
82 번째 재귀함수에서 83 번째 재귀함수를 호출합니다.
83 번째 재귀함수에서 84 번째 재귀함수를 호출합니다.
84 번째 재귀함수에서 85 번째 재귀함수를 호출합니다.
85 번째 재귀함수에서 86 번째 재귀함수를 호출합니다.
86 번째 재귀함수에서 87 번째 재귀함수를 호출합니다.
87 번째 재귀함수에서 88 번째 재귀함수를 호출합니다.
88 번째 재귀함수에서 89 번째 재귀함수를 호출합니다.
89 번째 재귀함수에서 90 번째 재귀함수를 호출합니다.
90 번째 재귀함수에서 91 번째 재귀함수를 호출합니다.
91 번째 재귀함수에서 92 번째 재귀함수를 호출합니다.
92 번째 재귀함수에서 93 번째 재귀함수를 호출합니다.
93 번째 재귀함수에서 94 번째 재귀함수를 호출합니다.
94 번째 재귀함수에서 95 번째 재귀함수를 호출합니다.
95 번째 재귀함수에서 96 번째 재귀함수를 호출합니다.
96 번째 재귀함수에서 97 번째 재귀함수를 호출합니다.
97 번째 재귀함수에서 98 번째 재귀함수를 호출합니다.
98 번째 재귀함수에서 99 번째 재귀함수를 호출합니다.
99 번째 재귀함수에서 100 번째 재귀함수를 호출합니다.
99 번째 재귀함수를 종료합니다.
98 번째 재귀함수를 종료합니다.
97 번째 재귀함수를 종료합니다.
96 번째 재귀함수를 종료합니다.
95 번째 재귀함수를 종료합니다.
94 번째 재귀함수를 종료합니다.
93 번째 재귀함수를 종료합니다.
92 번째 재귀함수를 종료합니다.
91 번째 재귀함수를 종료합니다.
90 번째 재귀함수를 종료합니다.
89 번째 재귀함수를 종료합니다.
88 번째 재귀함수를 종료합니다.
87 번째 재귀함수를 종료합니다.
86 번째 재귀함수를 종료합니다.
85 번째 재귀함수를 종료합니다.
84 번째 재귀함수를 종료합니다.
83 번째 재귀함수를 종료합니다.
82 번째 재귀함수를 종료합니다.
81 번째 재귀함수를 종료합니다.
80 번째 재귀함수를 종료합니다.
79 번째 재귀함수를 종료합니다.
78 번째 재귀함수를 종료합니다.
77 번째 재귀함수를 종료합니다.
76 번째 재귀함수를 종료합니다.
75 번째 재귀함수를 종료합니다.
74 번째 재귀함수를 종료합니다.
73 번째 재귀함수를 종료합니다.
72 번째 재귀함수를 종료합니다.
71 번째 재귀함수를 종료합니다.
70 번째 재귀함수를 종료합니다.
69 번째 재귀함수를 종료합니다.
68 번째 재귀함수를 종료합니다.
67 번째 재귀함수를 종료합니다.
66 번째 재귀함수를 종료합니다.
65 번째 재귀함수를 종료합니다.
64 번째 재귀함수를 종료합니다.
63 번째 재귀함수를 종료합니다.
62 번째 재귀함수를 종료합니다.
61 번째 재귀함수를 종료합니다.
60 번째 재귀함수를 종료합니다.
59 번째 재귀함수를 종료합니다.
58 번째 재귀함수를 종료합니다.
57 번째 재귀함수를 종료합니다.
56 번째 재귀함수를 종료합니다.
55 번째 재귀함수를 종료합니다.
54 번째 재귀함수를 종료합니다.
53 번째 재귀함수를 종료합니다.
52 번째 재귀함수를 종료합니다.
51 번째 재귀함수를 종료합니다.
50 번째 재귀함수를 종료합니다.
49 번째 재귀함수를 종료합니다.
48 번째 재귀함수를 종료합니다.
47 번째 재귀함수를 종료합니다.
46 번째 재귀함수를 종료합니다.
45 번째 재귀함수를 종료합니다.
44 번째 재귀함수를 종료합니다.
43 번째 재귀함수를 종료합니다.
42 번째 재귀함수를 종료합니다.
41 번째 재귀함수를 종료합니다.
40 번째 재귀함수를 종료합니다.
39 번째 재귀함수를 종료합니다.
38 번째 재귀함수를 종료합니다.
37 번째 재귀함수를 종료합니다.
36 번째 재귀함수를 종료합니다.
35 번째 재귀함수를 종료합니다.
34 번째 재귀함수를 종료합니다.
33 번째 재귀함수를 종료합니다.
32 번째 재귀함수를 종료합니다.
31 번째 재귀함수를 종료합니다.
30 번째 재귀함수를 종료합니다.
29 번째 재귀함수를 종료합니다.
28 번째 재귀함수를 종료합니다.
27 번째 재귀함수를 종료합니다.
26 번째 재귀함수를 종료합니다.
25 번째 재귀함수를 종료합니다.
24 번째 재귀함수를 종료합니다.
23 번째 재귀함수를 종료합니다.
22 번째 재귀함수를 종료합니다.
21 번째 재귀함수를 종료합니다.
20 번째 재귀함수를 종료합니다.
19 번째 재귀함수를 종료합니다.
18 번째 재귀함수를 종료합니다.
17 번째 재귀함수를 종료합니다.
16 번째 재귀함수를 종료합니다.
15 번째 재귀함수를 종료합니다.
14 번째 재귀함수를 종료합니다.
13 번째 재귀함수를 종료합니다.
12 번째 재귀함수를 종료합니다.
11 번째 재귀함수를 종료합니다.
10 번째 재귀함수를 종료합니다.
9 번째 재귀함수를 종료합니다.
8 번째 재귀함수를 종료합니다.
7 번째 재귀함수를 종료합니다.
6 번째 재귀함수를 종료합니다.
5 번째 재귀함수를 종료합니다.
4 번째 재귀함수를 종료합니다.
3 번째 재귀함수를 종료합니다.
2 번째 재귀함수를 종료합니다.
1 번째 재귀함수를 종료합니다.

In [27]:
def factorial_self(num):
  if num == 1:
    return 1
  num=factorial_self(num-1)*num
  return num

factorial_self(5)

120

In [37]:
def GCD(num1,num2):
  if num2==0:
    return num1
  result =GCD(num2,num1%num2)
  print(num1,num2)
  return result

In [38]:
GCD(192,162)

12 6
30 12
162 30
192 162

6

In [39]:
# lambda 함수 : 이름없는 함수

In [41]:
# zip 함수
score = [10,20,15,19]
student=["kim","park"]

print(list(zip(student,score)))

[('kim', 10), ('park', 20)]

In [42]:
# map 함수
# map 함수의 반환 값은 map 객체이기 때문에 해당 자료형을 list 혹은 tuple로 형 변환시켜주어야 한다.

def plus_ten(x):
  return x+10

list(map(plus_ten,[10,20,30]))

[20, 30, 40]

In [43]:
list(map(lambda x : x+10,[10,20,30]))

[20, 30, 40]

# 파일 입출력

In [45]:
fw=open("test.txt","w") # w : 쓰기
fw.write("i am a student")
fw.close()

In [52]:
fw=open("test2.txt","a") # a : 이어서 쓰기
fw.write("dkkdkdkdkdkdk\n")
fw.close()

In [61]:
fr=open("test.txt","r") # r : 읽기
b=fr.readlines()
fr.close()

print(b)

['dkkdkdkdkdkdkdkkdkdkdkdkdkdkkdkdkdkdkdk\n', 'dkkdkdkdkdkdk\n', 'dkkdkdkdkdkdk\n']

In [62]:
result=[]
for line in b:
  result.append(line.replace('\n',''))

In [64]:
' '.join(result)

'dkkdkdkdkdkdkdkkdkdkdkdkdkdkkdkdkdkdkdk dkkdkdkdkdkdk dkkdkdkdkdkdk'

In [65]:
import pickle

In [66]:
d1 = {}
d2 = {}

for i in range(1,7):
  for j in range(1,7):
    if i+j not in d2.keys():
      d1[i+j]=1
      d2[i+j]=[[i,j]]
    else:
      d1[i+j]+=1
      d2[i+j].append([i,j])

In [67]:
d1

{2: 1, 3: 2, 4: 3, 5: 4, 6: 5, 7: 6, 8: 5, 9: 4, 10: 3, 11: 2, 12: 1}

In [69]:
d2

{2: [[1, 1]],
 3: [[1, 2], [2, 1]],
 4: [[1, 3], [2, 2], [3, 1]],
 5: [[1, 4], [2, 3], [3, 2], [4, 1]],
 6: [[1, 5], [2, 4], [3, 3], [4, 2], [5, 1]],
 7: [[1, 6], [2, 5], [3, 4], [4, 3], [5, 2], [6, 1]],
 8: [[2, 6], [3, 5], [4, 4], [5, 3], [6, 2]],
 9: [[3, 6], [4, 5], [5, 4], [6, 3]],
 10: [[4, 6], [5, 5], [6, 4]],
 11: [[5, 6], [6, 5]],
 12: [[6, 6]]}

In [72]:
fw=open("data.pickle","wb") # 이진 형식일때는 wb
pickle.dump(d2, fw) # d2 딕셔너리를 열려있는 fw에 넣어준다
fw.close()

# with ~ as 는 close()를 하지 않아도 with~as 구문이 끝나면 자동으로 객체를 close 해준다

In [74]:
with open("data.pickle","rb") as fr:
  di = pickle.load(fr)

print(di)

{2: [[1, 1]], 3: [[1, 2], [2, 1]], 4: [[1, 3], [2, 2], [3, 1]], 5: [[1, 4], [2, 3], [3, 2], [4, 1]], 6: [[1, 5], [2, 4], [3, 3], [4, 2], [5, 1]], 7: [[1, 6], [2, 5], [3, 4], [4, 3], [5, 2], [6, 1]], 8: [[2, 6], [3, 5], [4, 4], [5, 3], [6, 2]], 9: [[3, 6], [4, 5], [5, 4], [6, 3]], 10: [[4, 6], [5, 5], [6, 4]], 11: [[5, 6], [6, 5]], 12: [[6, 6]]}

In [75]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [79]:
ls

 bigdata2023/       '제목 없는 다이어그램 (1).drawio'
'Colab Notebooks'/  '제목 없는 다이어그램 (2).drawio'
 tips.csv           '제목 없는 다이어그램.drawio'
 yolov3/            '파이썬_3일_강사.ipynb의 사본'

In [103]:
fileName = "/content/drive/MyDrive/tips.csv"

with open(fileName,'r')as fr:
  title=fr.readline()

with open(fileName,'r')as fr:
  a=fr.readlines()

title= title.replace('\n','').split(',')
title

['total_bill', 'tip', 'smoker', 'day', 'time', 'size']

In [99]:
info=[]
for i in a:
  info.append(i.replace('\n','').split(','))

info

[['total_bill', 'tip', 'smoker', 'day', 'time', 'size'],
 ['16.99', '1.01', 'No', 'Sun', 'Dinner', '2'],
 ['10.34', '1.66', 'No', 'Sun', 'Dinner', '3'],
 ['21.01', '3.5', 'No', 'Sun', 'Dinner', '3'],
 ['23.68', '3.31', 'No', 'Sun', 'Dinner', '2'],
 ['24.59', '3.61', 'No', 'Sun', 'Dinner', '4'],
 ['25.29', '4.71', 'No', 'Sun', 'Dinner', '4'],
 ['8.77', '2.0', 'No', 'Sun', 'Dinner', '2'],
 ['26.88', '3.12', 'No', 'Sun', 'Dinner', '4'],
 ['15.04', '1.96', 'No', 'Sun', 'Dinner', '2'],
 ['14.78', '3.23', 'No', 'Sun', 'Dinner', '2'],
 ['10.27', '1.71', 'No', 'Sun', 'Dinner', '2'],
 ['35.26', '5.0', 'No', 'Sun', 'Dinner', '4'],
 ['15.42', '1.57', 'No', 'Sun', 'Dinner', '2'],
 ['18.43', '3.0', 'No', 'Sun', 'Dinner', '4'],
 ['14.83', '3.02', 'No', 'Sun', 'Dinner', '2'],
 ['21.58', '3.92', 'No', 'Sun', 'Dinner', '2'],
 ['10.33', '1.67', 'No', 'Sun', 'Dinner', '3'],
 ['16.29', '3.71', 'No', 'Sun', 'Dinner', '3'],
 ['16.97', '3.5', 'No', 'Sun', 'Dinner', '3'],
 ['20.65', '3.35', 'No', 'Sat', 'Dinner', '3'],
 ['17.92', '4.08', 'No', 'Sat', 'Dinner', '2'],
 ['20.29', '2.75', 'No', 'Sat', 'Dinner', '2'],
 ['15.77', '2.23', 'No', 'Sat', 'Dinner', '2'],
 ['39.42', '7.58', 'No', 'Sat', 'Dinner', '4'],
 ['19.82', '3.18', 'No', 'Sat', 'Dinner', '2'],
 ['17.81', '2.34', 'No', 'Sat', 'Dinner', '4'],
 ['13.37', '2.0', 'No', 'Sat', 'Dinner', '2'],
 ['12.69', '2.0', 'No', 'Sat', 'Dinner', '2'],
 ['21.7', '4.3', 'No', 'Sat', 'Dinner', '2'],
 ['19.65', '3.0', 'No', 'Sat', 'Dinner', '2'],
 ['9.55', '1.45', 'No', 'Sat', 'Dinner', '2'],
 ['18.35', '2.5', 'No', 'Sat', 'Dinner', '4'],
 ['15.06', '3.0', 'No', 'Sat', 'Dinner', '2'],
 ['20.69', '2.45', 'No', 'Sat', 'Dinner', '4'],
 ['17.78', '3.27', 'No', 'Sat', 'Dinner', '2'],
 ['24.06', '3.6', 'No', 'Sat', 'Dinner', '3'],
 ['16.31', '2.0', 'No', 'Sat', 'Dinner', '3'],
 ['16.93', '3.07', 'No', 'Sat', 'Dinner', '3'],
 ['18.69', '2.31', 'No', 'Sat', 'Dinner', '3'],
 ['31.27', '5.0', 'No', 'Sat', 'Dinner', '3'],
 ['16.04', '2.24', 'No', 'Sat', 'Dinner', '3'],
 ['17.46', '2.54', 'No', 'Sun', 'Dinner', '2'],
 ['13.94', '3.06', 'No', 'Sun', 'Dinner', '2'],
 ['9.68', '1.32', 'No', 'Sun', 'Dinner', '2'],
 ['30.4', '5.6', 'No', 'Sun', 'Dinner', '4'],
 ['18.29', '3.0', 'No', 'Sun', 'Dinner', '2'],
 ['22.23', '5.0', 'No', 'Sun', 'Dinner', '2'],
 ['32.4', '6.0', 'No', 'Sun', 'Dinner', '4'],
 ['28.55', '2.05', 'No', 'Sun', 'Dinner', '3'],
 ['18.04', '3.0', 'No', 'Sun', 'Dinner', '2'],
 ['12.54', '2.5', 'No', 'Sun', 'Dinner', '2'],
 ['10.29', '2.6', 'No', 'Sun', 'Dinner', '2'],
 ['34.81', '5.2', 'No', 'Sun', 'Dinner', '4'],
 ['9.94', '1.56', 'No', 'Sun', 'Dinner', '2'],
 ['25.56', '4.34', 'No', 'Sun', 'Dinner', '4'],
 ['19.49', '3.51', 'No', 'Sun', 'Dinner', '2'],
 ['38.01', '3.0', 'Yes', 'Sat', 'Dinner', '4'],
 ['26.41', '1.5', 'No', 'Sat', 'Dinner', '2'],
 ['11.24', '1.76', 'Yes', 'Sat', 'Dinner', '2'],
 ['48.27', '6.73', 'No', 'Sat', 'Dinner', '4'],
 ['20.29', '3.21', 'Yes', 'Sat', 'Dinner', '2'],
 ['13.81', '2.0', 'Yes', 'Sat', 'Dinner', '2'],
 ['11.02', '1.98', 'Yes', 'Sat', 'Dinner', '2'],
 ['18.29', '3.76', 'Yes', 'Sat', 'Dinner', '4'],
 ['17.59', '2.64', 'No', 'Sat', 'Dinner', '3'],
 ['20.08', '3.15', 'No', 'Sat', 'Dinner', '3'],
 ['16.45', '2.47', 'No', 'Sat', 'Dinner', '2'],
 ['3.07', '1.0', 'Yes', 'Sat', 'Dinner', '1'],
 ['20.23', '2.01', 'No', 'Sat', 'Dinner', '2'],
 ['15.01', '2.09', 'Yes', 'Sat', 'Dinner', '2'],
 ['12.02', '1.97', 'No', 'Sat', 'Dinner', '2'],
 ['17.07', '3.0', 'No', 'Sat', 'Dinner', '3'],
 ['26.86', '3.14', 'Yes', 'Sat', 'Dinner', '2'],
 ['25.28', '5.0', 'Yes', 'Sat', 'Dinner', '2'],
 ['14.73', '2.2', 'No', 'Sat', 'Dinner', '2'],
 ['10.51', '1.25', 'No', 'Sat', 'Dinner', '2'],
 ['17.92', '3.08', 'Yes', 'Sat', 'Dinner', '2'],
 ['27.2', '4.0', 'No', 'Thur', 'Lunch', '4'],
 ['22.76', '3.0', 'No', 'Thur', 'Lunch', '2'],
 ['17.29', '2.71', 'No', 'Thur', 'Lunch', '2'],
 ['19.44', '3.0', 'Yes', 'Thur', 'Lunch', '2'],
 ['16.66', '3.4', 'No', 'Thur', 'Lunch', '2'],
 ['10.07', '1.83', 'No', 'Thur', 'Lunch', '1'],
 ['32.68', '5.0', 'Yes', 'Thur', 'Lunch', '2'],
 ['15.98', '2.03', 'No', 'Thur', 'Lunch', '2'],
 ['34.83', '5.17', 'No', 'Thur', 'Lunch', '4'],
 ['13.03', '2.0', 'No', 'Thur', 'Lunch', '2'],
 ['18.28', '4.0', 'No', 'Thur', 'Lunch', '2'],
 ['24.71', '5.85', 'No', 'Thur', 'Lunch', '2'],
 ['21.16', '3.0', 'No', 'Thur', 'Lunch', '2'],
 ['28.97', '3.0', 'Yes', 'Fri', 'Dinner', '2'],
 ['22.49', '3.5', 'No', 'Fri', 'Dinner', '2'],
 ['5.75', '1.0', 'Yes', 'Fri', 'Dinner', '2'],
 ['16.32', '4.3', 'Yes', 'Fri', 'Dinner', '2'],
 ['22.75', '3.25', 'No', 'Fri', 'Dinner', '2'],
 ['40.17', '4.73', 'Yes', 'Fri', 'Dinner', '4'],
 ['27.28', '4.0', 'Yes', 'Fri', 'Dinner', '2'],
 ['12.03', '1.5', 'Yes', 'Fri', 'Dinner', '2'],
 ['21.01', '3.0', 'Yes', 'Fri', 'Dinner', '2'],
 ['12.46', '1.5', 'No', 'Fri', 'Dinner', '2'],
 ['11.35', '2.5', 'Yes', 'Fri', 'Dinner', '2'],
 ['15.38', '3.0', 'Yes', 'Fri', 'Dinner', '2'],
 ['44.3', '2.5', 'Yes', 'Sat', 'Dinner', '3'],
 ['22.42', '3.48', 'Yes', 'Sat', 'Dinner', '2'],
 ['20.92', '4.08', 'No', 'Sat', 'Dinner', '2'],
 ['15.36', '1.64', 'Yes', 'Sat', 'Dinner', '2'],
 ['20.49', '4.06', 'Yes', 'Sat', 'Dinner', '2'],
 ['25.21', '4.29', 'Yes', 'Sat', 'Dinner', '2'],
 ['18.24', '3.76', 'No', 'Sat', 'Dinner', '2'],
 ['14.31', '4.0', 'Yes', 'Sat', 'Dinner', '2'],
 ['14.0', '3.0', 'No', 'Sat', 'Dinner', '2'],
 ['7.25', '1.0', 'No', 'Sat', 'Dinner', '1'],
 ['38.07', '4.0', 'No', 'Sun', 'Dinner', '3'],
 ['23.95', '2.55', 'No', 'Sun', 'Dinner', '2'],
 ['25.71', '4.0', 'No', 'Sun', 'Dinner', '3'],
 ['17.31', '3.5', 'No', 'Sun', 'Dinner', '2'],
 ['29.93', '5.07', 'No', 'Sun', 'Dinner', '4'],
 ['10.65', '1.5', 'No', 'Thur', 'Lunch', '2'],
 ['12.43', '1.8', 'No', 'Thur', 'Lunch', '2'],
 ['24.08', '2.92', 'No', 'Thur', 'Lunch', '4'],
 ['11.69', '2.31', 'No', 'Thur', 'Lunch', '2'],
 ['13.42', '1.68', 'No', 'Thur', 'Lunch', '2'],
 ['14.26', '2.5', 'No', 'Thur', 'Lunch', '2'],
 ['15.95', '2.0', 'No', 'Thur', 'Lunch', '2'],
 ['12.48', '2.52', 'No', 'Thur', 'Lunch', '2'],
 ['29.8', '4.2', 'No', 'Thur', 'Lunch', '6'],
 ['8.52', '1.48', 'No', 'Thur', 'Lunch', '2'],
 ['14.52', '2.0', 'No', 'Thur', 'Lunch', '2'],
 ['11.38', '2.0', 'No', 'Thur', 'Lunch', '2'],
 ['22.82', '2.18', 'No', 'Thur', 'Lunch', '3'],
 ['19.08', '1.5', 'No', 'Thur', 'Lunch', '2'],
 ['20.27', '2.83', 'No', 'Thur', 'Lunch', '2'],
 ['11.17', '1.5', 'No', 'Thur', 'Lunch', '2'],
 ['12.26', '2.0', 'No', 'Thur', 'Lunch', '2'],
 ['18.26', '3.25', 'No', 'Thur', 'Lunch', '2'],
 ['8.51', '1.25', 'No', 'Thur', 'Lunch', '2'],
 ['10.33', '2.0', 'No', 'Thur', 'Lunch', '2'],
 ['14.15', '2.0', 'No', 'Thur', 'Lunch', '2'],
 ['16.0', '2.0', 'Yes', 'Thur', 'Lunch', '2'],
 ['13.16', '2.75', 'No', 'Thur', 'Lunch', '2'],
 ['17.47', '3.5', 'No', 'Thur', 'Lunch', '2'],
 ['34.3', '6.7', 'No', 'Thur', 'Lunch', '6'],
 ['41.19', '5.0', 'No', 'Thur', 'Lunch', '5'],
 ['27.05', '5.0', 'No', 'Thur', 'Lunch', '6'],
 ['16.43', '2.3', 'No', 'Thur', 'Lunch', '2'],
 ['8.35', '1.5', 'No', 'Thur', 'Lunch', '2'],
 ['18.64', '1.36', 'No', 'Thur', 'Lunch', '3'],
 ['11.87', '1.63', 'No', 'Thur', 'Lunch', '2'],
 ['9.78', '1.73', 'No', 'Thur', 'Lunch', '2'],
 ['7.51', '2.0', 'No', 'Thur', 'Lunch', '2'],
 ['14.07', '2.5', 'No', 'Sun', 'Dinner', '2'],
 ['13.13', '2.0', 'No', 'Sun', 'Dinner', '2'],
 ['17.26', '2.74', 'No', 'Sun', 'Dinner', '3'],
 ['24.55', '2.0', 'No', 'Sun', 'Dinner', '4'],
 ['19.77', '2.0', 'No', 'Sun', 'Dinner', '4'],
 ['29.85', '5.14', 'No', 'Sun', 'Dinner', '5'],
 ['48.17', '5.0', 'No', 'Sun', 'Dinner', '6'],
 ['25.0', '3.75', 'No', 'Sun', 'Dinner', '4'],
 ['13.39', '2.61', 'No', 'Sun', 'Dinner', '2'],
 ['16.49', '2.0', 'No', 'Sun', 'Dinner', '4'],
 ['21.5', '3.5', 'No', 'Sun', 'Dinner', '4'],
 ['12.66', '2.5', 'No', 'Sun', 'Dinner', '2'],
 ['16.21', '2.0', 'No', 'Sun', 'Dinner', '3'],
 ['13.81', '2.0', 'No', 'Sun', 'Dinner', '2'],
 ['17.51', '3.0', 'Yes', 'Sun', 'Dinner', '2'],
 ['24.52', '3.48', 'No', 'Sun', 'Dinner', '3'],
 ['20.76', '2.24', 'No', 'Sun', 'Dinner', '2'],
 ['31.71', '4.5', 'No', 'Sun', 'Dinner', '4'],
 ['10.59', '1.61', 'Yes', 'Sat', 'Dinner', '2'],
 ['10.63', '2.0', 'Yes', 'Sat', 'Dinner', '2'],
 ['50.81', '10.0', 'Yes', 'Sat', 'Dinner', '3'],
 ['15.81', '3.16', 'Yes', 'Sat', 'Dinner', '2'],
 ['7.25', '5.15', 'Yes', 'Sun', 'Dinner', '2'],
 ['31.85', '3.18', 'Yes', 'Sun', 'Dinner', '2'],
 ['16.82', '4.0', 'Yes', 'Sun', 'Dinner', '2'],
 ['32.9', '3.11', 'Yes', 'Sun', 'Dinner', '2'],
 ['17.89', '2.0', 'Yes', 'Sun', 'Dinner', '2'],
 ['14.48', '2.0', 'Yes', 'Sun', 'Dinner', '2'],
 ['9.6', '4.0', 'Yes', 'Sun', 'Dinner', '2'],
 ['34.63', '3.55', 'Yes', 'Sun', 'Dinner', '2'],
 ['34.65', '3.68', 'Yes', 'Sun', 'Dinner', '4'],
 ['23.33', '5.65', 'Yes', 'Sun', 'Dinner', '2'],
 ['45.35', '3.5', 'Yes', 'Sun', 'Dinner', '3'],
 ['23.17', '6.5', 'Yes', 'Sun', 'Dinner', '4'],
 ['40.55', '3.0', 'Yes', 'Sun', 'Dinner', '2'],
 ['20.69', '5.0', 'No', 'Sun', 'Dinner', '5'],
 ['20.9', '3.5', 'Yes', 'Sun', 'Dinner', '3'],
 ['30.46', '2.0', 'Yes', 'Sun', 'Dinner', '5'],
 ['18.15', '3.5', 'Yes', 'Sun', 'Dinner', '3'],
 ['23.1', '4.0', 'Yes', 'Sun', 'Dinner', '3'],
 ['15.69', '1.5', 'Yes', 'Sun', 'Dinner', '2'],
 ['19.81', '4.19', 'Yes', 'Thur', 'Lunch', '2'],
 ['28.44', '2.56', 'Yes', 'Thur', 'Lunch', '2'],
 ['15.48', '2.02', 'Yes', 'Thur', 'Lunch', '2'],
 ['16.58', '4.0', 'Yes', 'Thur', 'Lunch', '2'],
 ['7.56', '1.44', 'No', 'Thur', 'Lunch', '2'],
 ['10.34', '2.0', 'Yes', 'Thur', 'Lunch', '2'],
 ['43.11', '5.0', 'Yes', 'Thur', 'Lunch', '4'],
 ['13.0', '2.0', 'Yes', 'Thur', 'Lunch', '2'],
 ['13.51', '2.0', 'Yes', 'Thur', 'Lunch', '2'],
 ['18.71', '4.0', 'Yes', 'Thur', 'Lunch', '3'],
 ['12.74', '2.01', 'Yes', 'Thur', 'Lunch', '2'],
 ['13.0', '2.0', 'Yes', 'Thur', 'Lunch', '2'],
 ['16.4', '2.5', 'Yes', 'Thur', 'Lunch', '2'],
 ['20.53', '4.0', 'Yes', 'Thur', 'Lunch', '4'],
 ['16.47', '3.23', 'Yes', 'Thur', 'Lunch', '3'],
 ['26.59', '3.41', 'Yes', 'Sat', 'Dinner', '3'],
 ['38.73', '3.0', 'Yes', 'Sat', 'Dinner', '4'],
 ['24.27', '2.03', 'Yes', 'Sat', 'Dinner', '2'],
 ['12.76', '2.23', 'Yes', 'Sat', 'Dinner', '2'],
 ['30.06', '2.0', 'Yes', 'Sat', 'Dinner', '3'],
 ['25.89', '5.16', 'Yes', 'Sat', 'Dinner', '4'],
 ['48.33', '9.0', 'No', 'Sat', 'Dinner', '4'],
 ['13.27', '2.5', 'Yes', 'Sat', 'Dinner', '2'],
 ['28.17', '6.5', 'Yes', 'Sat', 'Dinner', '3'],
 ['12.9', '1.1', 'Yes', 'Sat', 'Dinner', '2'],
 ['28.15', '3.0', 'Yes', 'Sat', 'Dinner', '5'],
 ['11.59', '1.5', 'Yes', 'Sat', 'Dinner', '2'],
 ['7.74', '1.44', 'Yes', 'Sat', 'Dinner', '2'],
 ['30.14', '3.09', 'Yes', 'Sat', 'Dinner', '4'],
 ['12.16', '2.2', 'Yes', 'Fri', 'Lunch', '2'],
 ['13.42', '3.48', 'Yes', 'Fri', 'Lunch', '2'],
 ['8.58', '1.92', 'Yes', 'Fri', 'Lunch', '1'],
 ['15.98', '3.0', 'No', 'Fri', 'Lunch', '3'],
 ['13.42', '1.58', 'Yes', 'Fri', 'Lunch', '2'],
 ['16.27', '2.5', 'Yes', 'Fri', 'Lunch', '2'],
 ['10.09', '2.0', 'Yes', 'Fri', 'Lunch', '2'],
 ['20.45', '3.0', 'No', 'Sat', 'Dinner', '4'],
 ['13.28', '2.72', 'No', 'Sat', 'Dinner', '2'],
 ['22.12', '2.88', 'Yes', 'Sat', 'Dinner', '2'],
 ['24.01', '2.0', 'Yes', 'Sat', 'Dinner', '4'],
 ['15.69', '3.0', 'Yes', 'Sat', 'Dinner', '3'],
 ['11.61', '3.39', 'No', 'Sat', 'Dinner', '2'],
 ['10.77', '1.47', 'No', 'Sat', 'Dinner', '2'],
 ['15.53', '3.0', 'Yes', 'Sat', 'Dinner', '2'],
 ['10.07', '1.25', 'No', 'Sat', 'Dinner', '2'],
 ['12.6', '1.0', 'Yes', 'Sat', 'Dinner', '2'],
 ['32.83', '1.17', 'Yes', 'Sat', 'Dinner', '2'],
 ['35.83', '4.67', 'No', 'Sat', 'Dinner', '3'],
 ['29.03', '5.92', 'No', 'Sat', 'Dinner', '3'],
 ['27.18', '2.0', 'Yes', 'Sat', 'Dinner', '2'],
 ['22.67', '2.0', 'Yes', 'Sat', 'Dinner', '2'],
 ['17.82', '1.75', 'No', 'Sat', 'Dinner', '2'],
 ['18.78', '3.0', 'No', 'Thur', 'Dinner', '2']]

In [107]:
list_smoker = []


for i in info:
  if i[0] == title[0]:
    continue
  list_smoker.append(i[2])

In [110]:
set(list_smoker)

{'No', 'Yes'}

In [153]:
with open(fileName,'r')as fr:
  title=fr.readline().strip().split(',')
  lines=fr.readlines()


rows=[line.strip().split(',') for line in lines]
cols=list(zip(*rows)) # *이 가장 밖에 있는 대괄호를 없애준다.

print("smoker : ",set(cols[2]))
print("day : ",set(cols[3]))
print("time : ",set(cols[4]))

for name,col in zip(title,cols):
  try:
    float(col[0])
  except ValueError:
    print("{0} : {1}".format(name,set(col)))

smoker :  {'Yes', 'No'}
day :  {'Thur', 'Fri', 'Sun', 'Sat'}
time :  {'Dinner', 'Lunch'}
smoker : {'Yes', 'No'}
day : {'Thur', 'Fri', 'Sun', 'Sat'}
time : {'Dinner', 'Lunch'}

In [178]:
def check_type(s):
  try:
    int(s)
    return 'integer'
  except ValueError:
    try:
      float(s)
      return 'float'
    except ValueError:
      return 'string'
if __name__ == '__main__':
  print(check_type('12'))
  print(check_type('1.23'))
  print(check_type('ab'))

integer
float
string

ValueError: ignored

12