<a href="https://colab.research.google.com/github/kdahun/bigdata2023/blob/main/python2day.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [37]:
number = 1110
base = 2
multiplier=1
result=0

while number>0:
  temp = number % 10
  result = result + (temp * multiplier)
  multiplier = multiplier * base
  number=number//10
result

14

In [65]:
I=[2,3,4,7,8]
# I을 이용해서 I의 원소의 제곱을 한 리스트 생성
i2=[]
for i in I:
  i2.append(i**2)
print(i2)

l3=[num**2 for num in I]
print(l3)

[4, 9, 16, 49, 64]

In [69]:
#list comprehensions
b=[y for y in range(2000,2100) if y%4==0] # 2000~2100 수를 가져오는데 4의 배수만
print(b)

[2000, 2004, 2008, 2012, 2016, 2020, 2024, 2028, 2032, 2036, 2040, 2044, 2048, 2052, 2056, 2060, 2064, 2068, 2072, 2076, 2080, 2084, 2088, 2092, 2096]

In [73]:
result = []

for i in range(5):
  for j in range(3):
    result.append((i,j))

result1 = [ (i,j) for i in range(5) for j in range(3)]

print(result)
print(result1)

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2), (2, 0), (2, 1), (2, 2), (3, 0), (3, 1), (3, 2), (4, 0), (4, 1), (4, 2)]
[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2), (2, 0), (2, 1), (2, 2), (3, 0), (3, 1), (3, 2), (4, 0), (4, 1), (4, 2)]

### 문자열 : " " , ' ', ''' ''', 불변형 배열

In [74]:
s = "life is too short."
print(s[3])
print(s[:])

e
life is too short.

In [78]:
주민번호 ="990120-1234567"
a=주민번호.split('-')
a[1][0]

print("year : ",주민번호[0:2])
print("month : ",주민번호[2:4])
print("성별 : ", a[1][0])
print("검증번호 : ",주민번호[-1])

year :  99
month :  01
성별 :  1
검증번호 :  7

In [81]:
print("a : ",a)
print(''.join(a))
b=''.join(a)
type(b)

a :  ['990120', '1234567']
9901201234567

str

In [86]:
a="a:b:c:d"
print('/'.join(a.split(":")))



s="2022.03.07"
print('/'.join(s.split(".")))
print(s.replace('.','/'))

a/b/c/d
2022/03/07
2022/03/07

In [116]:
# 암호만들기 실습

# 예) http://naver.com

url = "http://naver.com"
pw = url.replace('http://',"")
print(pw)
pw=pw.split('.')
print(pw)
pw = pw[0][:3]+str(len(pw[0]))+str(pw[0].count("e"))+"!"
print(pw)
print()

addresses = ["http://naver.com","http://google.com","http://youtube.com","http://daum.net"]

for address in  addresses:
  rule_1 = address[7:]
  rule_2 = rule_1.split(".")[0]
  count=0
  for a in rule_2:
    if a=='e':
      count+=1
  rule_3 = rule_2[:3] + str(len(rule_2)) + str(count)+"!"
  print(rule_3)

naver.com
['naver', 'com']
nav51!

nav51!
goo61!
you71!
dau40!

In [133]:
# 문자 반전 안녕 세상!
s = "안녕 세상!"
s_re=""
for i in reversed(s):
  s_re +=i

s2= "파이썬 알고리즘 정말 재미있다"

ss = s2.split(" ")
ss_re = ""
for i in reversed(ss):
  ss_re+=(i+" ")

print(s[::-1])
print(" ".join(s2.split(" ")[::-1]))

!상세 녕안
재미있다 정말 알고리즘 파이썬

In [129]:
s_re

'!상세 녕안'

In [130]:
ss_re

'재미있다 정말 알고리즘 파이썬 '

In [144]:
# 회문 여부 판단

s3 = "다시 합창합시다"
s3 = "".join(s3.split(" "))
print(s3)

print()

count=0
s3_re = s3[::-1]


for i in range(len(s3)):
  if("".join(s3.split(" "))[::-1][i]!=s3[i]):
    count+=1

if count==0:
  print("T")
else:
  print("F")

다시합창합시다

T

In [145]:
if s3==s3_re:
  print("reverse")

reverse

In [146]:
s3.replace(" ","")==s3.replace(" ","")[::-1]

True

## 자료형(collection => mapping)
{키1:값1, 키2:값2, ....}, 키가 인덱스의 역할

In [152]:
portfolio={"name" : "김은연","phone":"011-677-12324","birth":"05/08"}

print(portfolio["name"])

print(portfolio["phone"])

print(portfolio["birth"])

print(portfolio.keys())
print(portfolio.values())
print(portfolio.items())

portfolio["hobby"] = ["sleeping","watching Tv"]

print(portfolio.items())

김은연
011-677-12324
05/08
dict_keys(['name', 'phone', 'birth'])
dict_values(['김은연', '011-677-12324', '05/08'])
dict_items([('name', '김은연'), ('phone', '011-677-12324'), ('birth', '05/08')])
dict_items([('name', '김은연'), ('phone', '011-677-12324'), ('birth', '05/08'), ('hobby', ['sleeping', 'watching Tv'])])

In [153]:
cabinet = {"A-1":"유재석","A-2":"조세호","B-1":["김종국","하하"]}

cabinet["A-1"]

'유재석'

In [155]:
cabinet["B-2"]=["박명수","신동엽"]
cabinet

{'A-1': '유재석', 'A-2': '조세호', 'B-1': ['김종국', '하하'], 'B-2': ['박명수', '신동엽']}

In [181]:
seq = "버피 에인젤 몬스터 잰더 윌로우 버피 몬수터 슈퍼 버피 에인젤"

seq1 = seq.split(" ")
d={}
for i in seq1:
  d[i]=seq.count(i)

d1={}
for name in seq.split():
  if name not in d1.keys():
    d1[name]=1
  else:
    d1[name]+=1

d2={}
for name in set(seq):
  d2[name]=seq.count(name)

In [168]:
d

{'버피': 3, '에인젤': 2, '몬스터': 1, '잰더': 1, '윌로우': 1, '몬수터': 1, '슈퍼': 1}

In [169]:
d1

{'버피': 3, '에인젤': 2, '몬스터': 1, '잰더': 1, '윌로우': 1, '몬수터': 1, '슈퍼': 1}

In [170]:
d2

{}

In [171]:
s = 'life is short, so python is easy'
punct=',. '
d={}
d1={}

a=list(set(s))
a[0]

for p in punct:
  if p in a:
    a.remove(p)

'f'

In [174]:
for i in a:
  d[i]=0
  for j in s:
    if i==j:
      d[i]+=1
d

{'f': 1,
 'i': 3,
 'e': 2,
 'r': 1,
 'l': 1,
 'h': 2,
 'p': 1,
 'o': 3,
 't': 2,
 's': 5,
 'n': 1,
 'y': 2,
 'a': 1}

In [175]:
for i in a:
  d1[i]=s.count(i)
d1

{'f': 1,
 'i': 3,
 'e': 2,
 'r': 1,
 'l': 1,
 'h': 2,
 'p': 1,
 'o': 3,
 't': 2,
 's': 5,
 'n': 1,
 'y': 2,
 'a': 1}

In [177]:
a=(1,2,3)
print(a,type(a))
a=(1,2,3,4)
print(a,type(a))

(1, 2, 3) <class 'tuple'>
(1, 2, 3, 4) <class 'tuple'>

In [180]:
# 가로가 없어도 튜플로 인식한다.
b=1,2,3,4
a==b
# 튜플에 1개의 원소만 넣고 싶으면 (3, )하면 된다.

True

3

### 집합(set) : {}, 중복 제거

In [183]:
a={1,2,3,3,3,6}
print(a)

{1, 2, 3, 6}

In [188]:
print("intersection : ",a.intersection(({3,4})))
print("union : ",a.union({3,4,5,6}))

intersection :  {3}
union :  {1, 2, 3, 4, 5, 6}

강아지
해피

In [198]:
petType = input()
petName = input()
petAge = input()

print(f"우리집 {[petType]} 이름은 {petName}(이)예요, {petName}는 {petAge}살입니다.")
print("우리집 {0} 이름은 {1}(이)예요, {1}는 {2}살입니다.".format(petType,petName,petAge))
print("우리집 %s 이름은 %s(이)예요, %s는 %s살입니다."%(petType,petName,petName,petAge))

1
2
3
우리집 ['1'] 이름은 2(이)예요, 2는 3살입니다.
우리집 1 이름은 2(이)예요, 2는 3살입니다.
우리집 1 이름은 2(이)예요, 2는 3살입니다.

In [199]:
def mul(x1,x2):
  a=x1**2+x2**2
  return a

mul(2,4)

20

In [202]:
number = 1110
base = 2

def binary(number,base):
  multiplier=1
  result=0

  while number>0:
    temp = number % 10
    result = result + (temp * multiplier)
    multiplier = multiplier * base
    number=number//10
  return result


re = binary(number,base)
print(re)

14

In [204]:
# 두점 사이의 거리를 구하는 dist

def dist(a,b):
  result = (b[0]-a[0])**2+(b[1]-a[1])**2+(b[2]-a[2])**2
  print(result)
  return result



a=[1,3,0]
b=[2,0,0]

re = dist(a,b)
print("거리 : ",re**0.5)

10
거리 :  3.1622776601683795

In [212]:

def std_weight(cm,gender):
  cm=cm*0.01
  if gender == 0:
    man = round(cm**2*22,2)
    return man,gender
  else:
    female = round(cm**2*21,2)
    return female,gender

cm = 170
gender = 0

weight,gen = std_weight(cm,gender)
print("키 {0}cm {1}의 표준 체중은 {2}kg 입니다".format(cm,gen,weight))

키 170cm 0의 표준 체중은 63.58kg 입니다

In [218]:
def factoryer(num):
  if num==1:
    return 1
  result = factoryer(num-1)*num
  return result

factoryer(5)

120