<a href="https://colab.research.google.com/github/kdahun/bigdata2023/blob/main/%EC%95%BC%EA%B5%AC%EA%B2%8C%EC%9E%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import random

In [90]:
def rand_int(): # 랜덤정수 4개를 갖고 있는 정수리스트 반환
  li = []
  count = 0
  while count<4:
    num = random.randint(0,9) # 랜덤 정수(0~9)
    if num not in li: # 중복 제거
      li.append(num) # 리스트에 추가
      count+=1 # while문 나가기 위한 count
  return li

def user_input(): # 사용자가 정수 입력(예외처리 하기)
  b=input()
  li = []

  try:
    for i in b:
      li.append(int(i))
    if len(li)!=4: # 입력한 수가 4개가 아닐때
      print("4개의 정수만 입력해 주세요")
      li = user_input()

    if len(set(li))!=4:
      print("중복입니다. 다시 입력해 주세요")
      li = user_input()
  except:
    print("정수만 입력해 주세요")
    li = user_input()

  return li

def strike(a,b):
  count=0
  for i,j in zip(a,b):
    if i==j:
      count+=1
  return count;

def ball(a,b):
  count = 0
  for i in b:
    if i in a:
      count+=1
  return count

In [92]:
st=0
ba=0
a=rand_int()
print("랜덤 정수 4개 : " , a)


while st !=4:
  b=user_input()
  print("-------------------------------------\n")
  print("사용자 입력 정수 4개 : ",b)
  st = strike(a,b)
  print("스트라이크 : ",st)
  ba = ball(a,b)-st
  print("볼 : " , ba)
  print("--------------------------------------\n")

print("정답!!")

랜덤 정수 4개 :  [4, 9, 6, 1]
1234
-------------------------------------

사용자 입력 정수 4개 :  [1, 2, 3, 4]
스트라이크 :  0
볼 :  2
--------------------------------------

4444
중복입니다. 다시 입력해 주세요
44444
4개의 정수만 입력해 주세요
4619
-------------------------------------

사용자 입력 정수 4개 :  [4, 6, 1, 9]
스트라이크 :  1
볼 :  3
--------------------------------------

4961
-------------------------------------

사용자 입력 정수 4개 :  [4, 9, 6, 1]
스트라이크 :  4
볼 :  0
--------------------------------------

정답!!

In [77]:
2

8904
[8, 9, 0, 4]

2

2